<!DOCTYPE html>
<html>
    <head>
        <title>Ingredients</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <p>Here are the ingredients that we extracted:</p>
        <form method="POST">
            {%for i in range(0, len)%}
                <input type="checkbox" id="{{ i }}">
                <label for="{{ i }}">{{ new_list[i] }}</label>
                <br/><br/>
            {% endfor %}
            <input type="checkbox" id="site1" name="check" value="Costco">
            <label for="site1">Costco</label><br>
            <input type="checkbox" id="site2" name="check" value="Amazon">
            <label for="site2">Amazon</label><br><br>
        </form>
    </body>
</html>