<!DOCTYPE html>
<html>
    <head>
        <title>Sites</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <p>Here are the sites that we found:</p>
        {% for i in sites_list %}
            <p><a>{{ i }}</a></p>
        {% endfor %}
    </body>
</html>